.jumbotron {
    background: lightblue;
    color: black;
    margin-top: 0px;
    height: 100%;
    background-image: url("../img/BSbanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: bisque;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;

}

.footer-adress-icon{
    padding-right: 10px;
}